.jumbotron {
    background-color: black;
    color: rgb(240, 240, 221);
}
body {
    font-family: Lucida;   
    background-color: royalblue;
    border: 5px;
    border-style:groove;
}


.col-sm-4
 {
    border-style:groove;
    border-color:skyblue;   
}



p { 
    color: red; 
}

body { 
    color:rgba(195, 245, 255, 0.5);
    text-decoration-style: wavy;
    margin-left: 25px;    
}

h2 {
    float: right;
   
}



img {
    width:600px;
    margin-left: 2%;
    border-radius: 100%
}
.link { 
    height: 1%;
    width: 1%;
}
.link {
    height: 2%;
    width: 2% ;
}
.tc {
    height: 500px;
    width: 500px;
}
.inset-text-effect {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 70px/1 "Aladin", Helvetica, sans-serif;
    color: rgb(247, 243, 243);
    text-align: center;
    text-transform: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 1px 1px 0 rgba(212, 220, 238, 0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
  }

  